{% extends "base_generic.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/shuffle/style.css' %}">
<html>
	<body>
	<h1>One Card Wager</h1>
	
	<p>Result: Computer folded... {{ result }}</p>
    
	<form action="/one_card_wager/" method="GET"> 
		<label>Click to play again!</label>
		<button type="submit">Play again!</button>
	</form>
	<h2>Stats:</h2>
	<table id="variables">
  		<thead>
    		<tr>
      			<th></th>
      			<th></th>
    		</tr>
  	</thead>
  	<tbody>
		<tr>
			<td>My Stack:</td>
			<td><span> {{ playerStack }}</span></td>
		</tr>
		<tr>
			<td>Computer's Stack:</td>
			<td><span> {{ compStack }}</span></td>
		</tr>
		<tr>
			<td>Pot Size:</td>
			<td><span> {{ pot }}</span></td>
		</tr>
		<tr>
			<td>Computer's Card:</td>
			<td><span> {{ compCard }}</span></td>
		</tr>
	</tbody>
	</table>
	<h2>Variables</h2>
	<table id="variables">
  		<thead>
    		<tr>
      			<th>Name</th>
      			<th>Value</th>
    		</tr>
  	</thead>
  	<tbody>
		<tr>
			<td>counter:</td>
			<td><span> {{ counter }}</span></td>
		</tr>
		<tr>
			<td>Where Ac has been:</td>
			<td><span> {{ Ac_index }}</span></td>
		</tr>
		<tr>
			<td>k100:</td>
			<td><span> {{ k100 }}</span></td>
		</tr>
    </body>
</html>
{% endblock %}