{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/shuffle/style.css' %}">

<html>
	<body>
	<h1>One Card Wager</h1>
	<form action="game/" method="GET"> 

		<label>Click to play One Card Wager!</label>
		<button type="submit">Deal!</button>
	</form>
	<ul>
		<li>Starting Stack: {{startingStack}} </li>
		<li>Ante: {{ ante }} </li>
		<li>Bet size: {{betsize}} </li>
	</ul>
	<div class="a">
	<h2>One Card Wager Rules:</h2>
		<p>One Card Wager is a simple poker-style game. After adding
			a compulsory ante, one card from a randomized deck is 
			dealt to each player. The first player to act can check 
			or bet. The next player then responds by either checking 
			or betting if checked to, or calling a bet or folding 
			when a previous player bets.</p>
		<p>Once all players have acted and there are no uncalled bets, 
			the pot is awarded to the player with the highest-ranking 
			card. In the event of a tie, the pot is split equally.
		</p>
	</div>
    </body>
</html>